<%- include("./partials/header")%>
<%- include("./partials/navbar")%>
<link rel="stylesheet" href="/css/home.css">

<!-------------------------Carousel------------------------------------------------>
<section class="carousel">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://assets.ajio.com/medias/sys_master/images/images/ha9/h69/32233596321822/06052021-D-MHP-ourexclusivebrands-flat66.jpg" class="d-block w-100 h-50" >
            
          </div>
          <div class="carousel-item">
            <img src="https://assets.ajio.com/medias/sys_master/images/images/h40/hb6/32376990466078/14052021-D-MHP-ourexclusivebrands-footwear-upto70.jpg" class="d-block w-100"..">
            
          </div>
          <div class="carousel-item">
            <img src="https://assets.ajio.com/medias/sys_master/images/images/h73/ha1/32568159207454/27052021-D-MHP-topbanner-p4-branddays-fcuk-4070.jpg" class="d-block w-100"..">
            
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>

<!-------------------------About Section------------------------------------------------>
<section class="about-us py-3">
  <div class="container py-3">
      <h2 class="text-center pb-3">Our Services</h2>
      <p class="text-center pb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati vel minus rem,<br>
        sequi laudantium suscipit esse aut. Iure quaerat inventore dolore consequatur exercitationem,<br>
        accusamus voluptates? Error animi sit nobis quisquam!
      </p>
   
  
      <div class="services-row row pb-3">
        <div class="services-col col-lg-3 mb-3">
          <i class="fas fa-truck"></i>
          <h4>Service Section</h4>
        </div>
        <div class="services-col col-lg-3 mb-3">
          <i class="fas fa-users"></i>
          <h4>Shipping Returns</h4>
        </div>
        <div class="services-col col-lg-3 mb-3">
          <i class="fas fa-user"></i>
          <h4>24 Hours Service</h4>
        </div>
      </div>
  </div>

</section>
<!-------------------------Brand Section------------------------------------------------>

<div class="brand-section">
  <h2>Our Brands</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
     Repellat vel excepturi omnis cumque iure. Iste temporibus eveniet id in, 
  </p>
  <div class="brand-container">
    <img src="/uploads/brand_images/brand1.png">
    <img src="/uploads/brand_images/brand2.png">
    <img src="/uploads/brand_images/brand3.png">
    <img src="/uploads/brand_images/brand4.png">
  </div>
</div>







<%- include("./partials/footer")%>