<%- include("./partials/header")%>
<%- include("./partials/navbar")%>
<link rel="stylesheet" href="/css/home.css">

<!-------------------------Carousel------------------------------------------------>
<section class="carousel my-2">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/uploads/carousel/carousel1.jpeg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/uploads/carousel/carousel2.jpeg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/uploads/carousel/carousel3.jpeg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/uploads/carousel/carousel4.jpeg" class="d-block w-100">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-------------------------------Product Collections-------------------------------------------->
<section class="section promotion">
  <div class="title">
    <h2>Shop Collections</h2>
    
  </div>

  <div class="promotion-layout container">
    <div class="promotion-item">
      <img src="/uploads/collections/promo1.jpg" alt="" />
      <div class="promotion-content">
        <h3>FOR MEN</h3>
      </div>
    </div>

    <div class="promotion-item">
      <img src="/uploads/collections/promo2.jpg" alt="" />
      <div class="promotion-content">
        <h3>CASUAL SHOES</h3>
        
      </div>
    </div>

    <div class="promotion-item">
      <img src="./uploads/collections/promo3.jpg" alt="" />
      <div class="promotion-content">
        <h3>FOR WOMEN</h3>
        
      </div>
    </div>

    <div class="promotion-item">
      <img src="/uploads/collections/promo4.jpg" alt="" />
      <div class="promotion-content">
        <h3>LEATHER BELTS</h3>
        
      </div>
    </div>

    <div class="promotion-item">
      <img src="/uploads/collections/promo5.jpg" alt="" />
      <div class="promotion-content">
        <h3>DESIGNER BAGS</h3>
        
      </div>
    </div>

    <div class="promotion-item">
      <img src="/uploads/collections/promo6.jpg" alt="" />
      <div class="promotion-content">
        <h3>WATCHES</h3>
        
      </div>
    </div>
  </div>
</section>
<!---------------------------------Product Collection Ends ------------------------------------------>
<!---------------------------------------Brand Section-------------------------------------------------->
<section class="section brands">
  <div class="title">
    <h2>Shop by Brand</h2>
    <span>Select from the premium product brands and save plenty money</span>
  </div>

  <div class="brand-layout container">
    <div class="row">
      <div class="col-sm-3">
          <img src="/uploads/brand_images/brand1.png"  alt="">
      </div>
      <div class="col-sm-3">
        <img src="/uploads/brand_images/brand2.png"  alt="">
      </div>
      <div class="col-sm-3">
        
        <img src="/uploads/brand_images/brand3.png"  alt="">
      </div>
      <div class="col-sm-3">
        
        <img src="/uploads/brand_images/brand4.png"  alt="">
      </div>
          
          
          
     
    </div>

  </div>
</section>
<!----------------------------------Brand Section End------------------------------------------------>

<!-----------------------------------Contact Section---------------------------------------------------->

<section class="contact-section mt-5" style="font-size: 20px; background-color:#a2d2ff; padding: 18px;" >
  <h3 style="text-align: center; font-size: 28px; font-weight: 500; margin-top: 5rem;">Contact US</h3>
  <div class="contact-card">
    <div class="row">
      <div class="col-lg-8">
        <div class="card-body form"> 
          <h3 class="mt-4"><i class="fas fa-envelope pr-2"></i>Write to us:</h3> 
          <div class="row">
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="form-contact-name" class="">Your name</label>
                <input type="text" id="form-contact-name" class="form-control">
                
              </div>
            </div>
        

            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="form-contact-email" class="">Your email</label>
                <input type="text" id="form-contact-email" class="form-control">
                
              </div>
            </div>
        

          </div>
         
          <div class="row">
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="form-contact-phone" class="">Your phone</label>
                <input type="text" id="form-contact-phone" class="form-control">
                
              </div>
            </div>
          
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="form-contact-company" class="">Your company</label>
                <input type="text" id="form-contact-company" class="form-control">
                
              </div>
            </div>
        

          </div>
         
          <div class="row">

           
            <div class="col-md-12">
              <div class="md-form mb-0">
                <label for="form-contact-message">Your message</label>
                <textarea id="form-contact-message" class="form-control md-textarea" rows="3"></textarea>
                
                <a class="btn-floating btn-lg blue">
                  <i class="far fa-paper-plane"></i>
                </a>
              </div>
            </div>
          

          </div>
         

        </div>

      </div>

      <div class="col-lg-4">

        <div class="card-body contact text-center h-100 white-text">
          <h3 class="my-4 pb-2">Contact information</h3>
          <ul class="text-lg-left list-unstyled ml-4">
            <li>
              <p><i class="fas fa-map-marker-alt pr-2"></i> New York, 94126, USA</p>
            </li>
            
            <li>
              <p><i class="fas fa-envelope pr-2"></i> contact@example.com</p>
            </li>
          </ul>
          <hr class="hr-light">
          
        </div>

      </div>
    </div>
  </div>
</section>


<%- include("./partials/footer")%>