body{
  background:#FFFFFF;
}
.products {
    margin: 5px auto;
}
.products .card-product img {
    padding: 15px;
    height: 240px;
}
  
.products .card-product {
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    margin: 5px auto;
    width: 90%;
    height: 95%;
    background: #fdfffc;
    border-radius: 12px;
}
  
#heading {
    width: 98%;
    background-color: #e9ecef;
    padding: 16px;
    margin: 10px auto;
    border-radius: 10px;
}
.card-product:hover{
    transform: translateY(10px);
}
.card-product .info{
    position: relative;
    z-index: 3;
    color: #ffff;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all;
}
.card-product:hover .info{
    opacity: 1;
    transform: translateY(-5px);
}
  
.navbar-brand {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.1em;
}

/*item counter */
.counter {
  width: 150px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter input {
  width: 50px;
  border: 0;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  background-color: ivory;
  border: 1px solid grey;
  color: #000;
  appearance: none;
  outline: 0;
  cursor: pointer;
}
.counter span {
  display: block;
  font-size: 25px;
  padding: 0 10px;
  cursor: pointer;
  color: #0052cc;
  user-select: none;
}

/*Buttons*/
.buttons{
  display: flex;
  
}
.btn-edit,.btn-delete{
  width: 120px;
  
}
.btn-edit{
  background-color: #ffd23f;
  color: white;
  margin-right: 50px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  
}
.btn-delete{
  background-color: #f25c54;
  color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
.add-cart{
  color: #ffffff;
  margin-right: 50px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
.buy-now{
  background-color: #fcbf49;
  color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}





/*Profile Card */
.profile-card{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ecf0f3;
}

.wrapper{
  background:#ecf0f3;
  
  padding: 30px;
  width: 500px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -3px -3px 6px #ffffff, 3px 3px 5px #000000;
  border-radius: 10px;
  margin: 10px;
}
.wrapper, .wrapper .img-area{
  background:#ecf0f3;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;

}
.wrapper .img-area{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-area .inner-area{
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  border-radius: 50%;
}
.inner-area img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.user-info h4{
  font-size: 1.5rem;
  font-weight: 500;
  margin: 10px 0 5px 0;
  color: #31344b;
}

/*Login*/
.login-container{
  max-width: 35rem;
  border-radius: 10px;
  margin: 30px auto;
  margin-top: 80px;
  padding: 20px;
  background-color: #fdfffc;
  box-shadow:0px 10px 1px #ddd, 0 10px 20px #ccc;;
}

.form-container{
  width: 30rem;
  margin: 20px auto;
  padding: 10px;
  align-items: center;
  justify-content: center;  
  
}
.form-container input[type=text],input[type=email],input[type=password]{
  width: 15rem;
  border-radius: 20px;
  display: block;
  border:none;
  box-shadow: 1px 3px 5px 3px rgba(0, 0.1, 0.1, 0.1);
}
.login-btn,.signup-btn{
  width: 15rem;
}

/*Cart-items*/
.cart-container{
  
  padding: 20px;
}
.quantity{
  width: 50px;
  margin-left: 10px;
  padding: 5px;
}




@media (max-width: 375px) {
  .card-product{
    width: 21rem;
  }
  
  
}

@media (min-width: 375px) {
  .card-product {
    width: 27rem;
  }
  
}